@import "./styles/layout.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  @apply flex;
  @apply flex-col;
  @apply h-full;
  @apply items-stretch;

  @apply py-6;
  @apply px-4;
  @apply gap-6;
  @apply overflow-x-auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 24px 16px;
  gap: 24px;

  width: 374px;
  height: 812px;

  background: #edeef2;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1; */
}

.title-2 {
  @apply font-montserrat;
  @apply text-heading-2;
  @apply font-normal;
}

.painting-frame {
  @apply bg-black;
  @apply p-2.5;
  @apply rounded-md;
}

.tag {
  @apply flex;
  @apply items-center;
  @apply gap-2.5;

  @apply py-1;
  @apply px-2;

  @apply font-open-sans;
  @apply text-sm;
  @apply bg-white;
  @apply rounded-sm;
  @apply text-black;
}

.tag__title {
  @apply w-20;
  @apply font-bold;
}

.tag__value {
  @apply flex-grow;
  @apply font-open-sans;
}

.tag.tag--comment {
  @apply py-4;
  @apply px-2;

  @apply text-xs;
  @apply text-center;
  @apply text-comment;
}

/* Accordion */
.accordion__container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
  gap: 16px;

  width: 308px;
  height: 86px;
  left: 20px;
  top: 20px;

  background: #ffffff;

  border: 1px solid #edeef2;
  border-radius: 10px;
}

.accordion__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 276px;
  height: 46px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.accordion__icon-placeholder {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 46px;
  height: 46px;

  background: #83d0cd;

  border: 1px dashed #3aaea9;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.accordion__icon {
  width: 46px;
  height: 46px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.accordion__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px 0px;

  width: 170px;
  height: 46px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.accordion__title {
  width: 34px;
  height: 22px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #4d4141;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.accordion__subtitle {
  width: 50px;
  height: 19px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #4d4141;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.accordion__arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  gap: 10px;

  width: 36px;
  height: 22px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.accordion__arrow-down {
  width: 20px;
  height: 22px;

  font-family: "simple-line-icons";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #cacaca;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.accordion__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  gap: 14px;

  position: relative;
  width: 340px;
  height: 402px;

  background: #ffffff;
}

/* Expanded Accordion */
.accordion__container--expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
  gap: 20px;

  position: absolute;
  width: 340px;
  height: 205px;
  left: 20px;
  top: 137px;

  background: #ffffff;

  box-shadow: 0px 100px 80px rgba(8, 35, 50, 0.07),
    0px 41.7776px 33.4221px rgba(8, 35, 50, 0.0503198),
    0px 22.3363px 17.869px rgba(8, 35, 50, 0.0417275),
    0px 12.5216px 10.0172px rgba(8, 35, 50, 0.035),
    0px 6.6501px 5.32008px rgba(8, 35, 50, 0.0282725),
    0px 2.76726px 2.21381px rgba(8, 35, 50, 0.0196802);
  border-radius: 10px;
}

.accordion__hidden {
  visibility: hidden;
}

/* IconLink */
.icon-link__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 151px;
  height: 180px;

  background: #000000;
  border-radius: 6px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon-link__image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 131px;
  height: 131px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.icon-link__label-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 131px;
  height: 19px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.icon-link_label-text {
  width: 89px;
  height: 19px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  text-align: center;

  color: #f2adad;

  flex: none;
  order: 0;
  flex-grow: 0;
}
